.edui-btn-toolbar .edui-btn .edui-icon-source:after {
    content:"\e64e";
}
.edui-btn-toolbar .edui-btn .edui-icon-undo:after {
    content:"\e603";
}
.edui-btn-toolbar .edui-btn .edui-icon-redo:after {
    content:"\e602";
}
.edui-btn-toolbar  .edui-btn .edui-icon-bold:after{
    content:"\e62b";
}
.edui-btn-toolbar  .edui-btn .edui-icon-italic:after {
    content:"\e644";
}
.edui-btn-toolbar  .edui-btn .edui-icon-underline:after  {
    content:"\e646";
}
.edui-btn-toolbar .edui-btn .edui-icon-strikethrough:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-superscript:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-subscript:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-font:after , .edui-btn-toolbar .edui-btn .edui-icon-forecolo:after r {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-backcolor:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-insertorderedlist:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-insertunorderedlist:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-selectall:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-cleardoc:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-paragraph:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-fontfamily:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-fontsize:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyleft:after  {
    content:"\e649"
}

.edui-btn-toolbar .edui-btn .edui-icon-justifycenter:after  {
    content:"\e647"
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyright:after  {
    content:"\e648"
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyjustify:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-link:after  {
    content:"\e64c"
}

.edui-btn-toolbar .edui-btn .edui-icon-unlink:after  {
    content:"\e64d"
}

.edui-btn-toolbar .edui-btn .edui-icon-image:after {
    content:"\e64a"
}

.edui-btn-toolbar .edui-btn .edui-icon-emotion:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-video:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-map:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-gmap:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-horizontal:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn .edui-icon-print:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-preview:after  {
    content:"\e600"
}

.edui-btn-toolbar .edui-btn-fullscreen {
    float:right;
}
.edui-btn-toolbar .edui-btn .edui-icon-fullscreen:after  {
    content:"\e638"
}

.edui-btn-toolbar .edui-btn .edui-icon-removeformat:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-drafts:after  {
    content:"\e600"
}
.edui-btn-toolbar .edui-btn .edui-icon-formula:after  {
    content:"\e600"
}