/*普通按钮*/
.edui-btn-toolbar .edui-btn{
    position: relative;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom:1;
    width:auto;
    margin: 0 1px;
    padding:1px;
    border:none;
    background: none;
}
.edui-btn-toolbar .edui-btn .edui-icon {
    width: 32px;
    height: 30px;
    padding: 0;
    /* background-repeat: no-repeat; */
    /* background-image: url(../images/icons.png); */
    /* background-image: url(../images/icons.gif) \9; */
    line-height: 30px;
    margin: 0 5px 0 0;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    /* font-weight: bold; */
    font-family: "layui-icon" !important;
    font-style: normal;
	color:#777;
    -webkit-font-smoothing: antialiased;
}
.edui-btn-toolbar .edui-btn .edui-icon:hover {
    color: #393D49;
}
/*状态反射*/
.edui-btn-toolbar .edui-btn.edui-hover,
.edui-btn-toolbar .edui-btn.edui-active{
    /*
	background-color: #d5e1f2;
    padding: 0;
    border: 1px solid #a3bde3;
    _z-index: 1;
	*/
}
.edui-btn-toolbar .edui-btn.edui-disabled{
    opacity: 0.3;
    filter: alpha(opacity = 30);
}